@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Perfekt.Dnn.Perfekt.Dnn.RentManager.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<div id="Items-@Dnn.ModuleContext.ModuleId">
    <h2>
        <input type="text" id="ProductName" name="ProductName" value="@Request.QueryString["ProductName"]" readonly class="form-control-sm">
        bérlése
    </h2>

    <a href="@Url.Action("Additem", "Item", new { ProductId = Request.QueryString["ProductId"], BerlesDij = Request.QueryString["BerlesDij"], ProductName = Request.QueryString["ProductName"]})">
        Bérlés indítása
    </a>

    <a href="/termek-leirasa/@Request.QueryString["ProductId"]">
        Termék leírás
    </a>

    <a href="@Url.Action("Index","Product")">Vissza</a>

    <!-- Bérlések listája -->
    <h4>Aktuális bérlések</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Kezdés</th>
                <th>Végzés</th>
                <th>Napok</th>
                <th>Összeg</th>
                <th>Bérlő</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.KezdoDatum.ToShortDateString()</td>
                    <td>@item.VegDatum.ToShortDateString()</td>
                    <td>@item.NapokSzama</td>
                    <td>@item.Osszeg.ToString("N0") Ft</td>
                    <td>@item.Berlo</td>
                </tr>
            }
        </tbody>
    </table>
</div>

